{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="hero-section">
    <div class="container">
        {% if messages %}
        <div class="alert-message">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="row">
            <div class="col-12 text-center mt-4 mb-2">
                <h1 class="mt-4 mb-2 hero-text">Filmofiles</h1>
            </div>
            <div class="col-12 text-center mt-4 mb-2">
                <p class="site-tag">Honest. Insightful. Passionate.</p>
            </div>
            <div class="col-12 text-center mt-2 mb-2">
                <p class="site-tag-line">Film review community and social network for film lovers.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-4 mb-4">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4 mt-6 mb-4">
                <div class="home-card-body">
                    <i class="fas fa-film fa-3x mb-2"></i><br>
                    <h4><a href="{% url 'browse' page=1 %}" id="card-link">BROWSE</a>
                    </h4>
                    <p class="card-text mt-2">
                        Take a look at the wide range of our users' latest reviews and
                        recommendations.
                    </p>
                </div>
            </div>

            <div class="col-md-4 mt-6 mb-4">
                <div class="home-card-body">
                    <i class="fas fa-film fa-3x mb-2"></i><br>
                    <h4>READ</h4>
                    <p class="card-text mt-2">
                        Learn what others think and get in the mood for settling down to
                        a great film.
                    </p>
                </div>
            </div>

            <div class="col-md-4 mt-6 mb-4">
                <div class="home-card-body">
                    <i class="fas fa-film fa-3x mb-2"></i><br>
                    <h4><a href="{% url 'signup' %}" id="card-link">JOIN</a>
                    </h4>
                    <p class="card-text mt-2">
                        Inspired? Complete a simple sign-up process to interact and add
                        your own reviews.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-4 mb-4">
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-3 mb-2">
                <a href="{% url 'signup' %}" class="btn btn-primary">Sign up now for free!</a>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}