{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <div class="image-container">
                {% if "placeholder" in review.featured_image.url %}
                <img class="img-fluid" src="{% static 'images/popcorn-898154_1280.png' %}" alt="placeholder image">
                {% else %}
                <img class="img-fluid" src="{{ review.featured_image.url }}" alt="{{ review.film.film_title }}">
                {% endif %}
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="not-capitalized">Review: {{ review.film.film_title }} </h3>
            <p><strong>Tagline:</strong> {{ review.slug }}</p>
            <p><strong>Author:</strong> {{ review.author }}</p>
            <p><strong>Published on:</strong> {{ review.created_on|date:"D-m-y" }}</p>
            <hr>
            <p>{{ review.content }}</p>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <div class="comments-section">
                <h4>Comments</h4>
                <div class="comment-box">
                    {% if user.is_authenticated %}
                    <form method="post">
                        {% csrf_token %}
                        <textarea name="comment" placeholder="Leave a comment..."></textarea>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    {% else %}
                    <textarea name="comment" placeholder="Leave a comment..." disabled></textarea>
                    <p>You need to <a href="{% url 'login' %}">log in</a> to leave a comment. If you're not signed up
                        yet, <a href="{% url 'signup' %}">register here</a>.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}