{% extends "base.html" %}

{% block content %}
<h1>Submit a Review</h1>

<form method="post">
    {% csrf_token %}

    <label for="id_film_title">Film title:</label>
    {{ form.film_title }}

    <label for="id_director">Director:</label>
    {{ form.director }}

    <label for="id_year">Year:</label>
    {{ form.year }}

    <label for="id_slug">Review tagline:</label>
    {{ form.slug }}

    <label for="id_content">Content:</label>
    {{ form.content }}

    <label for="id_rating">Rating /10:</label>
    {{ form.rating }}

    <button type="submit">Submit</button>
</form>
{% endblock %}