/* Custom Styles */
body {
    background-color: #002e2e;
    color: #EDEDED;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: #FF3300;
    --accent-color: #FFDF00;
}

/* Typography */
h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    background-color: #333;
    text-transform: uppercase;
    display: inline;
    padding: 0em 0.15em;
}

.not-capitalized {
    text-transform: none;
}

.inline p, .inline h3 {
    display: inline;
    margin: 0;
    padding: 0;
}

.inline p {
    font-size: 1.25rem;
}

.subtle-link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    background-color: #333;
    text-transform: uppercase;
    display: inline;
    padding: 0em 0.15em;
}

.subtle-link:hover {
    color: var(--primary-color);
}

/* Navigation */
.navbar {
    background-color: #333;
    border-bottom: 1px solid #FFDF00;
}

.navbar-brand {
    font-family: 'Workbench', sans-serif;
    font-size: 34px;
    letter-spacing: 1.5px;
    color: #FFF;
    margin-right: 20px;
    margin-left: 10px;
}

.navbar-brand:hover {
    color: #EDEDED;
}

.navbar-nav .nav-link,
.navbar-text {
    font-family: 'Montserrat', sans-serif;
    color: #EDEDED;
    margin-right: 20px;
}

.navbar-nav .nav-link:hover {
    background-color: #222;
    color: #FFF;
}

.navbar-toggler-icon,
.navbar-toggler {
    color: #EDEDED;
    background-color: #333;
        border-color: rgba(255, 255, 255, 0.1);
}

.dropdown-menu {
    background-color: #333;
    color: #EDEDED;
    border: none;
}

.dropdown-menu a {
    color: #EDEDED;
    padding: 8px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a.active {
    color: #FFF;
}

.dropdown-menu a:hover {
    background-color: #222;
    color: #FFF;
}

/* Sections */
section {
    padding: 20px 0;
}

.hero-section {
    background: url('../images/movie-theater-4609877_1920.webp') center/cover no-repeat;
    height: 100vh;
    text-align: center;
    padding: 100px 0;
}

.site-tag {
    font-size: 2rem;
    color: var(--accent-color);
    background-color: #333;
    display: inline;
    padding: 0em 0.15em;
}

.site-tag-line {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size: 1.25rem;
    background-color: #333;
    display: inline;
    padding: 0em 0.15em;
}

.home-card-body {
    background-color: #002e2e;
    color: #EDEDED;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    padding: 20px;
}

/* Forms */
.form-group label {
    font-weight: normal;
    text-align: center;
    color: #EDEDED;
}

/* Input Fields */
input[type="text"],
input[type="number"],
input[type="password"],
textarea,
select {
    border-radius: 0.25rem;
    border: 1px solid #222;
    font-weight: normal;
    width: 90%;
    background-color: #FFF;
    color: #333;
    padding: 0.5rem;
    margin: 0.25rem 0;
}

/* Buttons */
.btn.btn-primary {
    background-color: var(--accent-color);
    border: 1px solid #333;
    color: #333;
    font-weight: bold;
}

.btn.btn-primary:hover {
    background-color: var(--primary-color);
    border: 1px solid #EDEDED;
    color: #EDEDED;
    font-weight: bold;
}

/* Cards */
.card {
    background-color: #333;
    color: #EDEDED;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 20px;
}

.card p {
    margin-bottom: 6px;
}

.card a {
    background-color: var(--accent-color);
    color: #EDEDED;
    padding: 2px 4px;
    display: inline-block;
    font-size: 16px;
    margin: 2px 3px;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}

.card a:hover {
    background-color: var(--primary-color);
    color: #FFF;
}

#card-link {
    text-decoration: none;
    color: var(--primary-color);
}

.image-container {
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

/* Pagination */
.pagination {
    padding: 20px 0;
    text-align: center;
}

.pagination .page-item {
    display: inline;
    margin-right: 10px;
}

.pagination .page-link {
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    text-decoration: none;
    transition: color 0.3s;
}

.pagination .page-link:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

.pagination .page-item.active .page-link {
    font-weight: bold;
    text-decoration: underline;
    color: #333;
}

/* Footer */
.footer {
    background-color: #333;
    font-size: 12px;
    color: #EDEDED;
    border-top: 1px solid #FFDF00;
}

.footer p {
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
}

.footer i {
    color: #EDEDED;
    font-size: 1.5rem;
    margin: 5px 5px;
}