/* Custom Styles */

body {
    background-color: #f8f8f8;
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
}

/* Typography */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
}

h1,
h2 {
    color: var(--primary-color);
}

/* Sections */
section {
    padding: 20px 0;
}

/* Forms */
.form-group label {
    font-weight: normal;
    text-align: center;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea,
select {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    font-weight: normal;
    width: 90%;
}

/* Buttons */
button.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    font-weight: bold;
}

button.btn-primary:hover {
    background-color: darken(var(--primary-color), 10%);
    border-color: darken(var(--primary-color), 10%);
}