@import "tailwindcss";

/* define custom theme colour variables: */
@theme {
  --color-darkteal: #002e2e;
  --color-charcoal: #333333;
  --color-lightgrey: #ededed;
  --color-redorange: #ff3300;
  --color-gold: #ffdf00;
  --color-blue: #6495ed;
  --color-white: #ffffff;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--color-darkteal);
  color: var(--color-lightgrey);
  font-family: var(--font-montserrat), sans-serif;
}

h1 {
  font-weight: 550;
  font-size: 2rem;
  color: var(--color-redorange);
}

h2 {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--color-gold);
}

h3 {
  font-weight: 475;
  font-size: 1rem;
  color: var(--color-lightgrey);
}

.text-charcoal-bg {
  display: block;
  width: fit-content;
  margin: 0.5rem auto;
  background-color: var(--color-charcoal);
  padding: 0.1em 0.3em;
  line-height: 1.1;
}

a {
  color: var(--color-lightgrey);
  text-decoration: none;
}

a:hover {
  color: var(--color-blue);
}

/* button {
  background-color: var(--color-gold);
  color: var(--color-charcoal);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
} */

.burger-btn {
  background-color: transparent;
  color: var(--color-lightgrey);
  border: none;
  padding: 0;
  cursor: pointer;
}

.dropdown-btn {
  min-width: 11.5rem;
  background-color: var(--color-darkteal);
  font-size: 0.875rem;
  color: var(--color-lightgrey);
  border: 1px solid var(--color-redorange);
  padding: 0.25rem 0.75rem; /* px-3 py-1 */
  border-radius: 9999px; /* rounded-full */
  display: flex; /* keeps text + caret together */
  align-items: center; /* vertically center them */
  justify-content: space-between;
  cursor: pointer;
}

.dropdown-menu {
  width: 100%; /* matches the button */
  background-color: var(--color-darkteal);
  border-radius: 0.375rem;
  z-index: 20;
}

.dropdown-item {
  background-color: var(--color-darkteal);
  font-size: 0.875rem;
  color: var(--color-lightgrey);
  padding: 0.25rem 0.5rem;
  text-align: left;
  border: none;
}

.dropdown-item:hover {
  background-color: var(--color-blue);
  color: var(--color-charcoal);
  font-weight: bold;
}
