@import "tailwindcss/preflight"; /* Import Tailwind's CSS reset and base styles */
@import "tailwindcss/utilities"; /* Import Tailwind's utility classes */

/* Define custom theme variables (colours, fonts, etc.) */
@theme {
  --color-darkteal: #002e2e;
  --color-charcoal: #333333;
  --color-lightgrey: #ededed;
  --color-redorange: #ff3300;
  --color-gold: #ffdf00;
  --color-blue: #6495ed;
  --color-white: #ffffff;
}

html,
body {
  height: 100%; /* Make sure  layout fills the full viewport height */
  margin: 0; /* Remove default margin */
  background-color: var(
    --color-darkteal
  ); /* Set BG colour using custom variable */
  color: var(
    --color-lightgrey
  ); /* Set default text colour using custom variable */
  font-family: var(--font-montserrat), sans-serif; /* Apply the font */

  h1,
  h2,
  h3 {
    color: var(--color-redorange);
  }

  a {
    color: var(--color-blue);
    text-decoration: none;
  }

  a:hover {
    color: var(--color-white);
  }

  button {
    background-color: var(--color-gold);
    color: var(--color-charcoal);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .card {
    background-color: var(--color-charcoal);
    padding: 1rem;
    border-radius: 0.5rem;
  }
}
