@import "tailwindcss";

/* define custom theme colour variables: */
@theme {
  --color-darkteal: #002e2e;
  --color-charcoal: #333333;
  --color-lightgrey: #ededed;
  --color-redorange: #ff3300;
  --color-gold: #ffdf00;
  --color-blue: #6495ed;
  --color-white: #ffffff;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--color-darkteal);
  color: var(--color-lightgrey);
  font-family: var(--font-montserrat), sans-serif;
}
h1,
h2,
h3 {
  color: var(--color-redorange);
}

a {
  color: var(--color-white);
  text-decoration: none;
}

a:hover {
  color: var(--color-blue);
}

button {
  background-color: var(--color-gold);
  color: var(--color-charcoal);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.burger-btn {
  background-color: transparent;
  color: var(--color-lightgrey);
  border: none;
  padding: 0;
  cursor: pointer;
}
