{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">

    <div class="row" id="my-reviews">
        <div class="col-12 mt-4 mb-4 text-center">
            <h3>Are you sure you want to delete your review?</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3 mb-4 text-center">
            <div class="mb-4">
                <h4 class="not-capitalized mb-4">{{ review.film.film_title|title }}</h4>
                <p><strong>Tagline: </strong>{{ review.slug }}</p>
                <p><strong>Created: </strong>{{ review.created_on }}</p>
                <p>"{{ review.content }}"</p>
                <a href="{% url 'delete_review' review_id=review.id %}" class="btn btn-danger">Delete</a>
                <a href="{% url 'my_profile' %}" class="btn btn-primary">Cancel</a>
                <hr>
            </div>
        </div>
    </div>

</div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}