{% extends "base.html" %}
{% block content %}
<h1>My Profile</h1>
<section>
    <h2>My Reviews</h2>
    {% for review in reviews %}
    <div>
        <h4 class="not-capitalized">{{ review.film.film_title }}</h4>
            <p><strong>Tagline: </strong>{{ review.slug }}</p>
            <p><strong>Created: </strong>{{ review.created_on }}</p>
            <p>"{{ review.content }}"</p>
            <a href="{% url 'edit_review' review_id=review.id %}">Edit</a>
            <a href="{% url 'delete_review' review_id=review.id %}">Delete</a>
    </div>
    {% endfor %}
</section>

<section>
    <h2>My Comments</h2>
    {% for comment in comments %}
    <div>
        <p><strong>Film Title: </strong>{{ comment.review.film.film_title }}</p>
        <p><strong>Tagline: </strong>{{ comment.review.slug }}</p>
        <p>Comment posted on {{ comment.created_on }}</p>
        <p>"{{ comment.content }}"</p>
        <a href="{% url 'edit_comment' comment_id=comment.id %}">Edit</a>
        <a href="{% url 'delete_comment' comment_id=comment.id %}">Delete</a>
    </div>
    {% endfor %}
</section>

<section>
    <h2>My Account</h2>
    <a href="{% url 'delete_account' %}">Delete My Account</a>
</section>
{% endblock %}