{% extends "base.html" %}
{% block content %}
<section>
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="mt-4 mb-2 hero-text">FILMOFILES</h1>
            <div class="mt-4">Honest. Insightful. Passionate.</div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="mt-4 mb-2">403 - Forbidden</h3>
            <div class="mt-4">Sorry, you don't have permission to access this page.</div>
            <p><a href="/">Go back to the homepage</a></p>
        </div>
    </div>
</section>
{% endblock %}